{% extends "base.html" %}
{% load crispy_forms_tags %}

<!--Título da aba-->

{% block title %}
    Lista de Tarefas
{% endblock title %}

{% block content %}
  <center><h1>Lista de Tarefas</h1></center>

  <!--GET pra pegar listagem por status e ordenação-->

  {% if tarefas %}
    <form method="GET" action="{% url 'inicio' %}"> 

      {{ form.as_p }}
        
      <input type="submit"  value="filtrar" class="btn btn-info"></button>
      <form method="POST" >

      </select>

    </form>
     
    <!--Scopo da tabela, com as informações-->
    <table class="table" id="Tabela-Lista">
     <thead>
       <tr>
         <th scope="col">Título</th>
         <th scope="col">Descrição</th>
         <th scope="col">Data de Vencimento</th>
         <th scope="col">Status</th>
         <th scope="col">Ações</th>
       </tr>
     </thead>
     
     <!-- For para pegar cada tabela por default ou filtro no banco de dados-->
     
     <tbody>
       {% for tarefa in tarefas %}
         <tr>
           <td>{{ tarefa.Titulo }}</td>
           <td>{{ tarefa.Descricao }}</td>
           <td>{{ tarefa.DataDeVencimento }}</td>
           <td>{{ tarefa.Status }}</td>

           <!--Botões e funçoes para os mesmos-->
           
           <td>
             <a href={% url "ConcluirTarefa" pk=tarefa.pk %}
             class="btn btn-success btn-sm mb-2 {% if tarefa.DataDeFinalizacao%}
             disabled{% endif %}">Concluir</a>              
             <a href={% url "EditarTarefa" pk=tarefa.pk %}
             class="btn btn-secondary btn-sm mb-2 {% if tarefa.DataDeFinalizacao %}
             disabled{% endif %}">Editar</a>
             <a href={% url "DeletarTarefa" pk=tarefa.pk %}
             class="btn btn-danger btn-sm mb-2">Excluir</a>
           </td>
         </tr>
       {% endfor %}
     </tbody>
    </table>

    <!--Caso não haja tarefa, deverá apresentar a seguinte mensagem-->

  {% else %}
    <center><H1>Não há tarefas cadastradas.</h1></center>

  {% endif %}

   <a href="{% url 'CriarTarefa' %}" class="btn btn-primary">Nova tarefa</a>

{% endblock content %}