{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- Título da aba-->
{% block title %}
  Lista de Tarefas
{% endblock title %}
<!-- Conteúdo-->
{% block content %}
  <h1><center>Lista de Tarefas</center></h1>

  <!--GET pra pegar listagem por status-->
  {% if tarefas %}
    <div>
      <form method="GET" action="." class="filtro-status">
        <label for="status">Filtrar por status:</label>
        <select name="status" onchange="submit()" id="status">
            <option value="">All</option>
            {% for status_code, status_name  in opcoes_status %}
                <option value="{{ status_code }}" {% if status_atual == status_code %}selected{% endif %}>
                  {{ status_name }}
                </option>
            {% endfor %}
        </select>
      </form>
    </div>
    <!-- Tabela com as descrições de campo.-->
    <table class="table">
     <thead>
       <tr>
         <th scope="col">Título</th>
         <th scope="col">Descrição</th>
         <th scope="col">Data de Vencimento</th>
         <th scope="col">Status</th>
         <th scope="col">Ações</th>
       </tr>
     </thead>
     <ul>
       <!-- For para pegar cada tabela por padrão ou filtro no banco de dados.-->
       {% for tarefa in tarefas %}
         <tr>
           <td>{{ tarefa.titulo }}</td>
           <td>{{ tarefa.descricao }}</td>
           <td>{{ tarefa.data_de_vencimento }}</td>
           <td>{{ tarefa.status }}</td>

           <!--Botões e funçoes para os mesmos.-->
           <td>
             <a href={% url "ConcluirTarefa" pk=tarefa.pk %}
             class="btn btn-success btn-sm mb-2 {% if tarefa.data_de_finalizacao %}
             disabled{% endif %}">Concluir</a>              
             <a href={% url "EditarTarefa" pk=tarefa.pk %}
             class="btn btn-secondary btn-sm mb-2 {% if tarefa.data_de_finalizacao %}
             disabled{% endif %}">Editar</a>
             <a href={% url "DeletarTarefa" pk=tarefa.pk %}
             class="btn btn-danger btn-sm mb-2">Excluir</a>
           </td>
         </tr>
       {% endfor %}
     </ul>
    </table>    
  {% else %}
    <!-- Caso não haja tarefa, deverá apresentar a seguinte mensagem.-->
    <div id="empty">
      <h1><center>Não há tarefas cadastradas.</center></h1>
    </div>
  {% endif %}
  <!-- Botão para a criação de uma nova tarefa-->
  <a href="{% url "CriarTarefa" %}" class="btn btn-primary">Nova tarefa</a>
{% endblock content %}